.foot{
    display: flex;
    justify-content:space-around;
    font-size: 40px;
    margin-top: 2px;
    margin-bottom:2px;
   
}
.f:hover{
    
    cursor: pointer;
   transform: scale3d(1,1,1);
   transition:0.2s;
}
/* .f:disabled{
    opacity: .5;
} */

